*{
    margin: 0;
}

html {
  scroll-behavior: smooth;
}

/* .topnav{
    display: flex;
    flex-direction: row;
} */

.topnav{
    display: flex;
    flex-direction: row;
}

.topnav a{
    color: black;
    text-decoration: none;
    margin: 30px;
    position: relative;
}
.topnav a:hover{
    color: white;
    background-color: black;
    transition: 0.2s;
    box-shadow: 3px 5px rgb(58, 58, 58);
}

.navv {
    display: flex;    
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    width: 100%;
    position: absolute;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 38px;

    top: 20px;
    left: 0;
    right: 0;
    font-size: 24px;
}
.audiocontainer{
    position: absolute;
    right: 30px;
}
.navicon:hover{
    box-shadow: 2.7px 5px 10px black;
    transition: 0.2s;
}
.navicon {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  padding: 0;
  display: flex;
  align-items: center;
}

.firstimg{
    display: block;
    width: 629px;
}

.firstimgtext{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.firstpagetext{
    flex-direction: column;
}
.nameh1{
    color: #85b8cb;
    font-size: 55px;
    margin-left: 100px;
    font-family: sans-serif;
    margin-bottom: 20px;
    transition: transform 0.2s ease;
    margin-top: 10px;
}

.nameh1:hover{
    transform: translate(-13px, -13px);
}

.descr{
    font-weight: 1;
    font-size: 24px;
    margin-right: 20px;
    /* font-family: "Goldman", sans-serif; */
    font-family: "Inconsolata", monospace;
    font-weight: bold;
    margin-left: 10px;
    padding: 10px;
}
.blackbreaker{
    background-color: black;
    display: block;
    width: 100%;
    height: 25px;
    /* position: absolute */
    clear: both;
    position: relative;
}

.headpro{
    font-family: "Goldman", sans-serif;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex: 1;  
    font-weight: bolder;
    font-size: 36px;

}

.secotexts{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    
}
.page2text{
    width: 200px;
    margin-top: 100px;
    margin-left: 40px;
    margin-right: 100px;
    color: grey;
    transition: transform 0.02s ease;
}

.page2text:hover{
    background-color: rgba(0, 0, 0, 0.055);
    box-shadow: -6.7px -2.6px 5px black;
}

.noim{
    width: 200px;


}
.cards{
    display: flex;
    flex-direction: column;
    width: 200px;  
    padding: 20px; 
    background-color: #85b8cb;
    margin-left: 110px;
    box-shadow: 10px 10px 0px black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: transform 0.2s ease;
    /* border-radius: 10px; */
}
.songcard{
    border-radius: 8px 0px 0px 8px;
}

.cards:hover{
    box-shadow: -10px -10px 0px black;
    transform: translate(-10px, -10px);
}

.cards img {
    width: 100%;             /* Image fills the container width */
    height: auto;
    margin-bottom: 15px;     /* Gap between image and text */
}

.card{
    display: flex;
    margin-left: 50px;
    margin-top: 40px;
    position: absolute;
}
#noim1{
    margin-top: 50px;
}
.imgsecpag{
    float: right;
    display: block;
    width: 380px;
    margin-top: 80px;
}
#noim2{
    margin-bottom: 50px;
}
/* .card{
        display: flex;
    justify-content: space-between;
    align-items: center;
} */

.catt{
    margin-top: 170px;
    width: 430px;
}
.sysl{
    font-family: "Anek Bangla", sans-serif;
}
.skills{
    font-family: "Funnel Display", sans-serif;
}
.blackback{
    background-color: black;
    color: black;
}
.sec3{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.skillss{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    float: right;
    font-size: 32px;
    margin-right: 60px;
}
.blackback:hover{
    background-color: rgba(0, 0, 0, 0.144);
    cursor: pointer;
    transition: 0.09s;
}
.songcard{
    background-color: #85b8cb;
    margin: 60px;
    margin-right: 0px;
    display: flex;
    flex-direction: column;
    padding: 22px;
}
#songcard{
    display: inline-block;
}
.currelist{
    font-family: "Jacquard 24", system-ui;
}

.imgicons{
    display: flex;
    align-items: center;
    justify-content: center; 
    flex-direction: row;
    gap: 15px;
}
.iconcoloumn{
    display: flex;
    flex-direction: column;
}
.currelist{
    font-size: 43px;
}
.listening{
    margin-left: 40px;
}
.runaw{
    font-size: 30px;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    margin-top: 20px;
}
.kenyaw{
    color: gray;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 5px;
}
.e{
    background-color: silver;
    margin-right: 5px;
    padding: 2px;
}
.state{
    font-family: "Saira Stencil", sans-serif;
    font-size: 30px;
    text-align: right;
    margin-top: 50px;
    margin-right: 40px;
}
.carsta{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.cbox{
    width: 290px;
    height: 380px;
}
.cardcbox{
    display: flex;
    align-items: center;
}
.frmMain{
    padding-bottom: 0px;
}
.sec4{
    padding: 60px;
}

.reachme{
    font-family: "Goldman", sans-serif;
    margin-top: 40px;
    margin-left: 120px;
}
.discord{
    width: 130px;
}
.gmail{
    width: 80px;
    margin-top: 140px;
}
.instagram{
    width: 110px;
}
.github{
    width: 80px;
    margin-top: 130px;
}
.lasticons{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 70px;
    margin-top: 70px;
    gap: 20px;
    position: static; 
    transition: transform 0.2s ease;
}

.lasticons a:hover{
    transform: translate(12px , 12px);
}

.limg{
    width: 600px;
    margin-top: 50px;


}
.forms{
    margin-right: 330px;
}

form{
    display: flex;
    flex-direction: column;
    width: 300px;
    /* float: right;
    position: absolute; */
    background-color: none;
    padding: 20px;
    gap: 10px;
    position: absolute;
    float: none;
}


form input, form textarea {
    background: rgba(0, 0, 0, 0.377);
    border: 1px solid #c0392b;
    color: white;
    padding: 10px;
    outline: none;
    font-weight: bold;
}

form button {
    background-color: #c0392b;
    color: white;
    border: none;
    padding: 12px;
    font-weight: bold;
    cursor: pointer;
    letter-spacing: 2px;
}
.sec5{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 60px;;
    position: static;
    float: none;
    overflow: hidden;
}

.sec5-left {
    display: flex;
    flex-direction: column;
}
.sec5-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

@media ( max-width: 1278px){
    .state{
        font-size: 26px;
    }
}
@media (max-width: 1154px){
    .navicon{
        font-size: 0.9rem;
    }
    .imgsecpag{
        width: 340px;
    }
    .skillss{
        font-size: 28px;
    }
    .state{
        font-size: 22px;
        margin-right: 7px;
    }
}
@media (max-width: 1125px){
    .nameh1{
        margin-left: 50px;
    }
    .card{
        margin-top: 20px;
        margin-left: 25px;
    }
    .firstimg{
        width: 627px;
    }
}
@media (max-width: 1067px){
    .navv{
        font-size: 23px;
    }
    .nameh1{
    font-size: 46px;
    margin-left: 60px;
    font-family: sans-serif;
    margin-bottom: 20px;
    transition: transform 0.2s ease;
    margin-top: 10px;
}
    .firstimg{
        width: 600px;
    }
    .descr{
        font-weight: 0.6;
        font-size: 23px;
    }
    .blackbreaker{
        height: 19px;
    }
    .cards{
    width: 150px;  
    padding: 20px; 
    }
    .imgsecpag{
        width: 310px;
    }
    .state{
        font-size: 21px;
        margin-right: 0px;
    }
    .catt{
    margin-top: 170px;
    width: 410px;
    }
    .skillss{
        font-size: 26px;
    }
    form{
        left: 50px;
    }

    .discord{
    width: 110px;
    }
    .gmail{
    width: 70px;
    margin-top: 140px;
    }
    .instagram{
        width: 90px;
    }
    .github{
        width: 70px;
        margin-top: 130px;
    }
}

@media (max-width: 1024px){
    .navicon{
        font-size: 0.8rem;
    }
    .navv{
        font-size: 20px;
    }
    .descr{
        font-weight: 0.3;
        font-size: 20px;
    }
    .firstimg{
        width: 580px;
    }
}
@media (max-width: 1031px){
    .state{
        font-size: 18px;
        margin-right: 0px;
    }
}
@media (max-width: 970px){
    .nameh1{
    font-size: 40px;
    margin-left: 60px;
    }
    form input, form textarea{
        padding: 6x;
    }
}
@media (max-width: 944px){
    .firstimg{
        width: 530px;
    }
    .card{
        margin-top: 0px;
        margin-left: 0px;
    }
    .cards{
    width: 130px;  
    padding: 14px; 
    font-size: 17px;
    }
    .imgsecpag{
        width: 290px;
    }
    .page2text{
        margin-top: 80px;
    }
    .catt{
    margin-top: 150px;
    width: 390px;
    }
    .skillss{
        font-size: 24px;
    }


    .songcard{
        padding: 15px;
    }


    .cbox{
    width: 230px;
    height: 328px;
    }
    .currelist{
    font-size: 33px;
    }
    .runaw{
        font-size: 23px;
    }
    .rsp ,.ryt{
        width: 60px;
    }
    .rimg{
        width: 150px;
    }
    .navv{
        font-size: 16px;
    }
}

@media (max-width: 393px){
    .firstimg{
        width: 320px;
    }
    .navv{
        font-size: 15px;
    }
    .topnav a{
        margin: 5px;
    }
}